<div class="nav">
  <a routerLink="/shop" routerLinkActive="active" class="nav-item">
    <i class="fas fa-store-alt"></i>
    <p>Shop</p>
  </a>
  <a routerLink="/search" routerLinkActive="active" class="nav-item">
    <i class="fas fa-regular fa-magnifying-glass"></i>
    <p>Explore</p>
  </a>
  <a routerLink="/cart" routerLinkActive="active" class="nav-item">
    <i class="fas fa-regular fa-cart-shopping"></i>
    <p>Cart</p>
  </a>
  <a routerLink="/favorite" routerLinkActive="active" class="nav-item">
    <i class="fas fa-regular fa-heart"></i>
    <p>Favourite</p>
  </a>
  <a routerLink="/account" routerLinkActive="active" class="nav-item">
    <i class="fas fa-regular fa-user"></i>
    <p>Account</p>
  </a>
</div>
