.nav {
  display: flex;
  justify-content: space-around;
  padding-top: 18px;
}

.nav-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 5px;

  text-decoration: none;
  color: black;

  i {
    font-size: var(--font-size-lg);
  }

  p {
    font-size: var(--font-size-xs);
  }
}

.active-link {
  color: var(--color-primary);
}
