.nav {
  display: flex;
  justify-content: space-around;
  padding-top: 18px;
}

.nav-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 5px;

  text-decoration: none;
  color: black;

  i {
    font-size: 18px;
  }

  p {
    font-size: 12px;
  }
}

.active-link {
  color:#53B175;
}
